@charset "utf-8";

h3{
	text-align:center
}
.box {
	margin-top:25px;
	margin-bottom:25px;
	margin-left:50px;
	margin-right:50px;
	border:#000 1px solid;
	padding:15px;
}

.photos{
	margin:5px;
}
img {
	border:0px;
}

p{
	text-indent:50px;
	line-height: 2em;
}